<div class="border-[1px] rounded-[10px] text-[14px]">
  <div>
    <img
      class="rounded-t-[10px] w-full h-[180px]"
      src="assets/welcome.jpeg"
      alt=""
      srcset=""
    />
  </div>
  <div class="flex flex-col p-3 gap-3">
    <div class="flex justify-between">
      <div class="flex flex-col">
        <div>Colocation</div>
        <div class="font-semibold">{{ house.name }}</div>
      </div>
      <div class="">
        <div class="text-[#483d8b]">
          <span class="font-semibold text-black">{{ house.price }}e</span>
          / mois
        </div>
      </div>
    </div>
    <div class="font-light">
      {{ house.area }}m<sup>2</sup> - 2chambres - meublé - parking
    </div>
    <div class="text-[#483d8b]">
      {{ house.description }}
    </div>
  </div>

  <div class="h-full bg-[#f8f8ff] p-3 flex gap-2 items-center">
    <div
      class="w-2 h-2 bg-green-500 rounded-full"
      [ngClass]="{
        'bg-green-500': house.isAvailable == true,
        'bg-red-500': house.isAvailable == false
      }"
    ></div>
    @if (house.isAvailable == true) {Disponibilité immediate} @else {ce bien
    n'est plus disponible}
  </div>
</div>
