<nav
  class="w-full flex justify-between items-center sticky px-5 border-b-[1px] py-3"
  [ngClass]="{ 'bg-[#483d8b] text-white font-semibold': color != undefined }"
>
  <div class="flex justify-center items-center gap-2">
    <ng-icon name="hugeColors"></ng-icon> EcoRangers
  </div>

  <div class="flex items-center gap-10">
    @for (link of links; track $index) {
    <div class="flex justify-center items-center gap-2 cursor-pointer">
      <ng-icon [name]="link.icon"></ng-icon> {{ link.name }}
    </div>
    }
    <button
      class="border rounded-[10px] p-2"
      [routerLink]="['/auth/login']"
      routerLinkActive=""
    >
      Mon compte
    </button>
  </div>
</nav>
